#logo
  h1
    a(href="/articles", title="node.js | mongoDB | mongoose | express") node.js | mongoDB | mongoose | express
    br
    .let-me-know CRUD web application with
      br
      | authentication. Contact us 
      a(href="mailto:mike@apple.com") here
#user_nav
  a(href="/articles/new", title="new article") New Article
  \ |
  a(href='/articles', title="article listing") Article Listing

  br
  br
  div.let-me-know Need to find out about Mayans?
    br
    | You can go 
    a(href="http://en.wikipedia.org/wiki/Maya_civilization", title="Maya 2012") here
.clear
